<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.iotapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Green Care"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IoTApplication"
        android:usesCleartextTraffic="true"
        tools:replace="android:label">
        <activity
            android:name=".GetPostActivity"
            android:exported="false" />
        <activity
            android:name=".StatistikActivity"
            android:exported="false" />
        <activity
            android:name=".EditDeviceActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddDeviceActivity"
            android:exported="false" />
        <activity
            android:name=".QrcodeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".PlantDetail"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
    </application>



</manifest>